/* General Components */

body,
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

.page {
    position: relative;
    width: 100vw;
    margin: 0 auto;
}

.page-wrapper {
    position: relative;
    width: 100vw;
    max-width: 1440px;
    margin: 0 auto;
}

h1 {
    font-family: Great Vibes;
    font-size: 144px;
    text-align: center;
    color: #FAE9F3;
    margin: 0px;
}

p {
    font-family: Montserrat;
    font-weight: 200;
    font-size: 24px;
    line-height: 33px;
    margin: 0px 15vw 80px 15vw;
    text-align: justify;
}

.line {
    position: absolute;
    width: 100%;
    height: 2px;
    top: -14px;
}

.polaroid-grid {
    width: 1440px;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 27px;
    transform: translateX( calc( (100vw - 1440px) * 0.5));
}

.row {
    width: 100%;
    height: 210px;
    position: relative;
    margin-bottom: 50px;
}

.polaroid-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}

.polaroid-wrapper-3 {
    width: 660px;
}

.polaroid-wrapper-4 {
    width: 64vw;
}

.polaroid-wrapper-5 {
    width: 70vw;
}

.polaroid-wrapper-home {
    width: 1400px;
}

.polaroid {
    position: relative;
    width: 150px;
    height: 182px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 2;
}

.polaroid-pic {
    position: relative;
    width: 88%;
}

.clothes-pin {
    width: 30px;
    position: absolute;
    margin: 0 auto;
    top: -20px;
}

.polaroid-pic {
    margin: 10px;
}

.polaroid-text {
    font-family: Shadows Into Light;
    color: #000000;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.polaroid-text-1 {
    font-size: 24px;
    top: -6px;
}

.polaroid-text-2 {
    font-size: 18px;
    top: -2px;
}

.polaroid-text-3 {
    font-size: 14px;
}

.marquee-title {
    margin: 0 auto;
    padding: 130px 0px 30px 0px;
    display: flex;
    justify-content: center;
}

.floral-decor-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/* HOME */

#home {
    width: 100%;
    min-height: 730px;
    background-color: #110c0c;
}

header {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-self: center;
    z-index: 2;
    margin-top: 158px;
}

.subtitle {
    width: 556px;
    display: flex;
    flex-direction: row;
    color: #FBFAED;
    margin: 0 auto;
    justify-content: space-between;
    align-content: center;
}

.subtitle p {
    margin: 10px;
}

.subtitle svg {
    position: relative;
    width: 20px;
    top: -2px;
}

.home-row {
    margin-bottom: 35px;
}

.home-row .line {
    background-color: #000000;
}

.home-grid {
    height: 620px;
}

#home-polaroid1,
#home-polaroid2,
#home-polaroid3,
#home-polaroid4,
#home-polaroid5,
#home-polaroid6,
#home-polaroid7,
#home-polaroid8,
#home-polaroid9,
#home-polaroid10,
#home-polaroid11,
#home-polaroid12,
#home-polaroid13,
#home-polaroid14,
#home-polaroid15,
#home-polaroid16,
#home-polaroid17,
#home-polaroid18,
#home-polaroid23,
#home-polaroid24 {
    opacity: 20%;
}

#home-polaroid19,
#home-polaroid20,
#home-polaroid21,
#home-polaroid22 {
    opacity: 70%;
}

#home-polaroid19:hover,
#home-polaroid20:hover,
#home-polaroid21:hover,
#home-polaroid22:hover {
    opacity: 100%;
}


/* ABOUT */

#about {
    width: 100%;
    padding-bottom: 100px;
    background-color: #FAE9F3;
}

.about-row .line {
    background-color: #4A261F;
}

#about p {
    color: #463D42;
}


/* EXPERIENCE */

#experience {
    width: 100%;
    padding-bottom: 100px;
    background-color: #E5EFF6;
}

.experience-row .line {
    background-color: #502822;
}

#experience p {
    color: #3D4041;
}


/* PORTFOLIO */

#portfolio {
    width: 100%;
    padding-bottom: 100px;
    background-color: #E5DEEE;
}

.portfolio-row .line {
    background-color: #4A261F;
}

#portfolio p {
    color: #403F41;
}


/* RESUME */

#resume-container {
    width: 100%;
    background-color: #FBFAEF;
    padding: 6vw 0px 6vw 0px;
}

#resume-button {
    border: 3px solid #637062;
    box-sizing: border-box;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    font-size: 2vw;
    text-align: center;
    letter-spacing: 0.01em;
    color: #463D42;
    width: 17em;
    margin: 0 auto;
    padding: .3em 1em .3em 1em;
    white-space: nowrap;
}

#resume-link .flower {
    width: 1.5em;
    padding: 0px 1em 0px 1em;
}


/* Contact */

#contact {
    width: 100%;
    padding-bottom: 130px;
    background-color: #E3F2E1;
}

#contact .marquee-title {
    padding-bottom: 70px;
}

.contact-row .line {
    background-color: #1C221C;
}

@media only screen and (min-width: 1440px) {
    p {
        margin: 0px 210px 80px 210px;
    }
    .polaroid-grid {
        transform: translateX(0px);
    }
    .polaroid-wrapper-4 {
        width: 915px;
    }
    .polaroid-wrapper-5 {
        width: 1020px;
    }
    #resume-container {
        padding: 85px 0px 85px 0px;
    }
    #resume-button {
        font-size: 29px;
    }
}

@media only screen and (max-width: 1110px) {
    .polaroid-wrapper-3 {
        max-width: 70vw;
    }
    .polaroid-wrapper-4 {
        width: 75vw;
    }
    .polaroid-wrapper-5 {
        width: 85vw;
    }
    #resume-button {
        border-width: 2px;
        font-size: 22px;
    }
}

@media only screen and (max-width: 750px) {
    .polaroid-wrapper-3 {
        max-width: 75vw;
    }
    .polaroid-wrapper-4 {
        width: 80vw;
    }
    .polaroid-wrapper-5 {
        width: 90vw;
    }
    p {
        font-size: 17px;
    }
    h1 {
        font-size: 17vw;
    }
    .subtitle {
        /* flex-direction: column;
        justify-content: center;
        align-items: center; */
        width: 400px;
    }
    .marquee-title img {
        height: 20vw;
    }
    .polaroid-wrapper-home {
        width: 900px;
    }
    .polaroid {
        width: 100px;
        height: auto;
    }
    .home-polaroid {
        height: 125px;
    }
    .polaroid-text {
        font-size: smaller;
    }
    /* probably change later */
    .home-grid {
        height: auto;
    }
    .row {
        height: auto;
    }
    #home {
        min-height: 525px;
    }
}

@media only screen and (max-width: 450px) {
    .polaroid-wrapper-3 {
        max-width: 90vw;
    }
    .polaroid-wrapper-4 {
        width: 95vw;
    }
    .polaroid-wrapper-5 {
        width: 95vw;
    }
    p {
        font-size: 13px;
    }
    .subtitle {
        width: 330px;
    }
    #resume-button {
        border-width: 0;
    }
}